@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fran {
  @apply text-2xl pl-4;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 4px;
}

.logo {
  @apply absolute left-1/2 top-1/2;
  transform: translate(-50%, -50%);
  height: auto;
  width: 360px;
}

.project-box {
  @apply bg-white dark:bg-stone-800 rounded-lg ring-1 ring-stone-900/5 shadow-xl;
}

.project-box img {
  @apply w-full rounded-t-lg;
}

.project-box .text-box {
  @apply m-4;
}

.links a {
  @apply px-4;
}

#toggleDarkMode {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
  @apply p-1 text-center rounded-lg mt-6 outline outline-2 outline-stone-600 hover:outline-white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn * {
  margin: 0.25rem;
}

.btn-github {
  @apply bg-black text-white  hover:bg-stone-800;
}

.btn-ushop {
  @apply bg-orange-500 text-white hover:bg-orange-400 outline-orange-300;
}
